body {
  font-family: "微軟正黑體", sans-serif;
  margin: 0;
  background: #fffaf4;
  color: #333;
}

header {
  background-color: #f4e8d1;
  text-align: center;
  padding: 40px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin-top: 8px;
  font-size: 1.2rem;
  color: #666;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
  width: 280px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h2 {
  margin: 12px 0 6px;
  font-size: 1.2rem;
}

.product-card p {
  font-size: 0.95rem;
  color: #555;
}

.price {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #b35c00;
  font-size: 1.1rem;
}

footer {
  background-color: #f4e8d1;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}

.tagline {
  font-size: 0.95rem;
  color: #b35c00;
  margin-top: -4px;
  margin-bottom: 8px;
  margin-bottom: -8px;
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

footer a {
  color: #b35c00;        /* 連結變橘色 */
  text-decoration: none; /* 取消底線 若保持底線:uderline*/
}

footer a:hover {
  color:  #432403;    /* 滑鼠移上去變深色 */
  text-decoration: underline; /* 加底線 */
}
